@page
@using System;
@using System.Reflection;
using Microsoft.UpdateServices.Administration;
@functions{
}
@{
  //IUpdateServer remoteServer = AdminProxy.GetUpdateServer("WsusServer1", false, 8530);
}
<h1>WSUS Index</h1>
<h2>@@remoteServer.Name</h2>