@using Balbarak.WeasyPrint
@using System.IO

<h1>https://github.com/balbarak/WeasyPrint-netcore</h1>


@{

   void OnDataOutput(OutputEventArgs e) {
    Console.WriteLine(e.Data);
  }

   void OnDataError(OutputEventArgs e) {
    Console.WriteLine(e.Data);
  }

  //From Html Text
  using (WeasyPrintClient client = new WeasyPrintClient()) {

    var html = "<!DOCTYPE html><html><body><h1>Hello World</h1></body></html>";
    var binaryPdf = await client.GeneratePdfAsync(html);
    File.WriteAllBytes("result.pdf", binaryPdf);

    //From html file
    var input = @"path\to\input.html";
    var output = @"path\to\output.pdf";
    client.OnDataError += OnDataError;
    client.OnDataOutput += OnDataOutput;
    await client.GeneratePdfAsync(input, output);
  }

}