<#@ template language="C#" debug="True" hostSpecific="True" #>
<#@ output extension=".generated.cs"                        #>
<#@ include file="Shared.ttinclude"                         #>
<#@ include file="AS400.ttinclude"                          #>
<#
	NamespaceName = "AS400DataContext";
	DataContextName = "TESTDATADB";

	GenerateDataTypes = true;
	GenerateDbTypes   = true;

	//GetSchemaOptions.ExcludedSchemas = new[] { "TestUser", "SYSSTAT" };

	LoadAS400Metadata(GetConnectionString("AS400"));

	//GetProcedure("ADMINISTRATOR.PERSON_SELECTBYKEY").ResultTable = GetTable("ADMINISTRATOR.Person");

	//GetColumn("ADMINISTRATOR.Person", "PersonID").MemberName = "122";
	//GetFK    ("ADMINISTRATOR.Person", "ID1").MemberName = "122";

	GenerateModel();
#>
