@page "/host"
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
  Layout = "_Layout";
}
<H1>_HOST.CSHMTL</H1>
<component type="typeof(X10sions.ERP.Razor.App)" render-mode="ServerPrerendered" />
