<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>

      <!--
      <aspNetCore processPath="dotnet" arguments=".\SharedRazor.WebApi.dll" stdoutLogEnabled="false" hostingModel="InProcess" stdoutLogFile=".\logs\stdout">
      <aspNetCore processPath="bin\Debug\net6.0\SharedRazor.WebApi.exe" arguments="" stdoutLogEnabled="false" hostingModel="InProcess" stdoutLogFile=".\logs\stdout">
      -->
      <aspNetCore processPath="..\..\..\..\..\..\..\..\..\Program Files\dotnet\dotnet.exe"
                  arguments="&quot;C:\Users\TBeames\.nuget\packages\microsoft.aspnetcore.components.webassembly.devserver\6.0.4\build\../tools/blazor-devserver.dll&quot; --applicationpath &quot;C:\Users\TBeames\Source\Repos\martogg\src\Martogg\SharedRazor\SharedRazor.BlazerWASM\bin\Release\net6.0\SharedRazor.BlazerWASM.dll&quot;"
                  stdoutLogEnabled="true"
                  stdoutLogFile=".\logs\stdout"
                  hostingModel="InProcess">
        <environmentVariables>
          <environmentVariable name="ASPNETCORE_HTTPS_PORT" value="443" />
          <environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Development" />
        </environmentVariables>
      </aspNetCore>
    </system.webServer>
  </location>
</configuration>